
@media screen and (min-width:750px) {
    
    .page-wrapper{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    body{
        font-size: 2vw !important;
        h2, h3, h4{
            font-size: 3vw !important;
        }
        h1{
            font-size: 4vw !important;
        }
    }
    
    .intro{
        grid-column: 1/2;
        // .summary{
        //     &::after{
        //         padding: 20em ;
                
        //     }
        // }
    }
    #zen-supporting{
        grid-column: 1/2;
    }
    .sidebar{
        z-index: 2;
        animation: none;
        grid-column: 2/3;
        grid-row: 1/3;
        padding: 3em;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            z-index: 1;
            top: 94.2%;
            left: 0%;
            height: 6%;
            width: 100%;
            background: url(./images/rocks.svg) center top no-repeat;
        }
        .design-selection {
            margin-top: 500px;
        }
        ul{
            animation: pulse 20s ease-in-out infinite;
            margin-top: 100px;
            li{
                padding: 2em 1em 5em 1em;
                width: 200%;
                height: 200%;
                animation: none !important;
            }
        }

        }
    .requirements {
        grid-column: 2/3;
        &::after{
            display: none !important;
        }
      }   
    
      footer {
        padding: 0;
        position: absolute;
        &::after{
          animation: none !important;
          display: none !important;
        }
      }
}