@use 'variables' as *;
@use 'mixins';
@use 'shapes-des-lay';

// * {
//     box-sizing: border-box;
//   }
html {
background-color: $background-color;
// padding: 5%;
}

body {
font-family: $fonts-body;
font-size: 85%;
color: $text-dark;
background-color: $primary;
margin: 0;
padding: 1em;
}
// main grid for group alignment
.page-wrapper{
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(10, 152px);
}
.intro{
    grid-area: 1/4/5/8;

    header{
        text-align: center;
    }

}
// main supporting content
#zen-supporting{
    grid-area: 4/6/10/11;
}
// sidebar and supporting divs
.sidebar{
    text-align: center;
    grid-area: 4/2/10/4;

    li{
        margin-bottom: 60px;
    }
}

