@use 'variables' as *;

@mixin main-cloud {
    background-image: url(./images/cloud2.svg);
    height: 500px;
    background-repeat: no-repeat;
    // z-index: -1;
    // margin-bottom: -200px;
    // box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

@mixin cloud-bump {

}

