@use 'variables' as *;


@keyframes sky-changing {
    0% {
      background-color: darkblue;
      color: white;
    }
    10% {
      color: orange;
    }
    20% {
      color: black;
    }
    25% {
      background-color: $primary;
    }
    50% {
      background-color: rgb(221, 243, 252);
    }
    75% {
      background-color: $primary;
    }
    70% {
      color: black;
    }
    85% {
      color: orange;
    }
    100% {
      background-color: darkblue;
      color: white;
    }
  }

  @keyframes sun-cycle {
    0% {}
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% { 
      transform: rotate(270deg);
    }
    100% { 
      transform: rotate(360deg);
    }
    
  }