@use 'variables' as *;
@use 'mixins' as *;


header h1{
    
    @include main-cloud(300px, 105px);

    &::after{
        @include cloud-bump;
        width:125px;
        height:70px;
        top:-105px;
        left:50px
    }
    &::before{
        @include cloud-bump;
        width:100px;
        height:50px;
        top:-30px;
        left:30px;
    }
}
