@use 'variables' as *;
@use 'mixins' as *;

 h1{
    @include main-cloud;
    border: 1px solid;
    padding-top: 150px;
    font-size: 2em;
    // &::after{
    //     @include cloud-bump;
    //     width:125px;
    //     height:70px;
    //     top:-105px;
    //     left:50px
    // }
    // &::before{
    //     @include cloud-bump;
    //     width:100px;
    //     height:50px;
    //     top:-30px;
    //     left:30px;
    // }
}
