@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$fonts-headline: "Bebas Neue";
$fonts-body: helvetica;
$background-color: #daede2;
$background-color-1: #C36948;
$primary: #8AF3FF;
$accent1: #4DAA57;
$accent2: #587D71;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #272719;
$text-light: #F4D35E;
$aside-back: #0096FF;
$footer-back: #5D5D5D;
$link-color: rgb(255, 255, 0);