@use "variables" as *; 
@use 'mixins' as *;
@use 'big-layout';

/*--main body and html--*/
html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body{
    background-color: black;
    & a:link {
      color: $link-color;

      &:hover{
        color: $aside-back;
      }
    }
    font-family: $fonts-body;
    font-size: 4vw;
    text-align: center;
    margin: 0 auto;
    h2, h3, h4{
      font-family: $fonts-headline;
      font-size: 6vw;
    }
    h1 {
      font-family: $fonts-headline;
      font-size: 7vw;
    }
    .intro {
      position: relative;
      &::before{
        @include sun-moon;
      }

      /*--intro and header start--*/
      header, .summary {
        animation: sky-changing 30s linear infinite;     
      }
      header {
        padding-top: 10em;
        padding-bottom: .5em;
        margin-bottom: -10px;
      }
      .summary {
        padding: 1em;
        margin-top: 0px;
        padding-bottom: 11em;
        position: relative;

        &::after{
          @include mountains;
        }
      }

      .preamble {
        position: relative;
        z-index: 0;
        padding: 1em 1em 7em 1em;
        background-color: $text-dark;
        color: $text-light;  
        & h3 {
          font-size: 1.5em;
          padding: 1.5em 0em 2em 0em;
        }
        & p {
          color: white;
        }
        &::after{
          @include treetops;
        }
      }
    }

    /*--end of intro section--*/

    /*--main supporting content start--*/
    div #zen-supporting {
      z-index: 2;
      
    }
    .explanation {
      padding: 1em 1em 9em 1em;
      position: relative;
      background-color: $accent2;
      &::after{
        @include hills-flowers;
      }
    }
    .participation {
      padding: 3em 1em 5em 1em;
      background-color: $accent1;
      position: relative;
      &::after{
        @include hillswithpath;
      }
      h3 {
        position: relative;
        &::before{
          @include purple-flower;
        }
        &::after{
          @include red-flower;
        }
    }
    }
    .benefits {
      background-color: $background-color-1;
      padding: 7em 1em 1.5em 1em;
      margin-bottom: -20px;
    }
    .requirements {
      background-color: $background-color-1;
      padding: 2em 1em 10em 1em;
      position: relative;
      &::after{
        @include rocks;
      }
    }
    footer {
      // margin-top: 30px;
      padding: 4em 1em 9em 1em;
      background-color: $footer-back;
      position: relative;
      &::after{
        @include water;
      }
    }
    /*--end of main supporting content--*/

    /*--start of aside content--*/
    aside {
      animation: pulse 20s ease-in-out infinite;
      background-color: $aside-back;
      padding:1em;
      padding-bottom: 0;
      ul {
        list-style-type: none;
        width: 50%;
        margin: 0;
        padding: 0;
        
        li {
          padding: 1em 1em 5em 1em;
          width: 200%;
          height: 200%;
          position: relative;
          color: white;

          &:nth-of-type(1) {
            animation: float-items 20s ease-in 2s infinite;
          }
          &:nth-of-type(2) {
            animation: float-items 20s linear 1s infinite;
          }
          &:nth-of-type(3) {
            animation: float-items 20s ease-out 2s infinite;
          }
          &:nth-of-type(4) {
            animation: float-items 20s ease-out 1s infinite;
          }
          &:nth-of-type(5) {
            animation: float-items 20s ease infinite;
          }
          &:nth-of-type(6) {
            animation: float-items 20s linear infinite;
          }
          &:nth-of-type(7) {
            animation: float-items 20s ease-out 1s infinite;
          }
          &:nth-of-type(8) {
            animation: float-items 20s ease-in 1s infinite;
          }
          a {
            color: yellow;
          }
          &::after {
            @include wood;
          }
        }
      }
    }
  }
  /*--end of aside content--*/
